#test {
    position:  relative;
}
#testarea {
    position:  relative;
    width:     250px;
    margin:    0 auto;
    overflow:  hidden;
    height:    50px;
}
#testarea > span {
    background-color: gray;
}
#testarea > span, #result > span {
    -moz-box-sizing: border-box;
    box-sizing:border-box;
    display:   inline-block;
    width:     50px;
    height:    50px;
    line-height:50px;
    text-align:center;
}

#result {
    position:  absolute;
    overflow:  visible;
}

#result > span {
    position:  absolute;
    display:   inline-block;
    padding:   20px;
    border:    2px solid green;
}
